
.switch input {
    position: absolute;
    opacity: 0;
  }
  
  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
  }
  
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
  
  .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  
      body{
          margin: 0;
          height: 100%;
      }
      .container{
      position: absolute;
      top: 40%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      }
      .row{
          display: block;
      }
      .i-box{
        width: 75px;
        height: 75px;
        border: 2px solid #BDB9A6;
        display: flexbox;
        vertical-align: middle;
        text-align: center;
        font-size: x-large;
        text-decoration: solid;
        text-transform: capitalize;
        margin-left: 25.5px;
        margin-right: 25.5px;
        font-family: fantasy;
        font-weight: 600;
    
}
    table{
        border-spacing: 15px;
        border-collapse: separate;
    }
      @media only screen and (max-width: 800px) {
        
        .container{
            position: absolute;
            top: 42%;
            width: 100%;
            text-align: -webkit-center;
            }
            table{
                border-spacing: 7px;
                border-collapse: separate;
            }

      .i-box{
        width: 60px;
        height: 68px;
        border: 2px solid #BDB9A6;
        display: flexbox;
        vertical-align: middle;
        text-align: center;
        font-size: x-large;
        text-decoration: solid;
        text-transform: capitalize;
        margin-left: 25.5px;
        margin-right: 25.5px;
        font-family: fantasy;
        font-weight: 600;
    }
      }
      .cb{
          border: transparent;
          background-color: #388E3C !important;
          color: white !important;
          animation: shakeY; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
      }
      .cp{
          border: transparent;
          background-color: #EF6C00 !important;
          color: white !important;
          animation: bounce; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s;
      }
      .np{
          border: transparent;
          background-color: #626262 !important;
          color: white !important;
          animation: wobble; /* referring directly to the animation's @keyframe declaration */
          animation-duration: 1s; /* don't forget to set a duration! */
      }
  
      .top-left{
          position: fixed;
          right: 0%;
      }
  